.recipe-img {
  max-width: 200px;
  max-height: 200px;
}

.btn-add {
  margin-bottom: 70px;
}

@media (max-width: 768px) {
  .add-alert {
    width: 100%;
  }
}

@media (min-width: 769px) {
  .add-alert {
    width: 50%;
  }
}